{{#if is_loading}}
  {{paper-progress-circular}}
{{else}}
  <div class="keyboard layout-column">
    <div class="key-top flex"></div>
    <div class="keys layout-row">
      {{midi-piano/piano-key click_cb=(action "play_note" 60)}}
      {{midi-piano/piano-key click_cb=(action "play_note" 62)}}
      {{midi-piano/piano-key click_cb=(action "play_note" 64)}}
      {{midi-piano/piano-key click_cb=(action "play_note" 65)}}
      {{midi-piano/piano-key click_cb=(action "play_note" 67)}}
      {{midi-piano/piano-key click_cb=(action "play_note" 69)}}
      {{midi-piano/piano-key click_cb=(action "play_note" 71)}}
      {{midi-piano/piano-key click_cb=(action "play_note" 72)}}

      {{midi-piano/piano-key classNames="c-sharp"
                             is_black_key=true
                             click_cb=(action "play_note" 61)}}
      {{midi-piano/piano-key classNames="d-sharp"
                             is_black_key=true
                             click_cb=(action "play_note" 63)}}
      {{midi-piano/piano-key classNames="f-sharp"
                             is_black_key=true
                             click_cb=(action "play_note" 66)}}
      {{midi-piano/piano-key classNames="g-sharp"
                             is_black_key=true
                             click_cb=(action "play_note" 68)}}
      {{midi-piano/piano-key classNames="a-sharp"
                             is_black_key=true
                             click_cb=(action "play_note" 70)}}
    </div>
  </div>
{{/if}}

